<!--특정 게시글을 보여줌-->
<!DOCTYPE html>
<html>

<head>
    <title>!Help</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
</head>
    <a href="http://localhost">
        <h1><%= title %></h1>
    </a>
    <h2>결과 화면</h2>
    <div>
        총 <%= attender %>명의 사람이 도와주었습니다!
    </div>
    <a href="/"><p>확인</p></a>
</body>
</html>