<!--교환소 페이지-->
<% var point = 2000 %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>교환소!</h2>
    <div>
      <div>당신이 가지고 있는 포인트는?<br> <%=point %> 포인트에요!</div>
    </div>
    <div>
    </div>
  </body>
</html>