<!--메인 페이지-->
<!DOCTYPE html>
<html>
  <head>
    <title>Help</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <h1>Help</h1>
    <p>Welcome to Help</p>
    <div>
      <% if(islogin == 'login'){ %>
      <a href='./users/logout'>로그아웃</a>
      <% } else { %>
      <a href='./login'>로그인</a>
      <% } %>
      <a href='./Mypage'>마이페이지</a>
      <a href="./exchange">교환소입니다!</a>
  </body>
</html>