<!-- 마이 페이지 -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>!Help</title>
    <link rel='stylesheet' href='/stylesheets/Mypage.css' />
</head>
  
<body>
    <div class="myInfo">
        <div class="mypage-card">
            <div>
                <a href="./users/editprofile"><img class="show_file" src="/Images/basic_images.jpg"/></a>
                <b><%= name %></b>
            </div>
            <p class="description">Hello, there!</p>
        </div>
        <div class="article">   
            <% if(post != null) { %>
            <% post.reverse(); %>
            <% for(i = 0; i < post.length; i++) { %>
            <hr>
            <b><%= post[i].title %></b>
            <hr>
            <% } %>
            <% } %>
        </div>
    </div>
    <div class="detail"></div>
</body>
</html>