<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>!Help</title>
    <link rel='stylesheet' href='/stylesheets/Mypage.css' />
</head>
  
<body>
    <center>
        <div class="myInfo">
            <div class="mypage-card">
                <!-- <img class="show_file" src="../../public/Images/basic_images.jpg" width="275" height="275" align="left"/> -->
                <h1 class="name"><b><%= name %></b></h1>
                <p class="description">Hello, there!</p>
            </div>
            <div class="detail">
            </div>
        </div>
        <a href="/">Main</a>
    </center>
</body>
</html>