<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <link href="/stylesheets/map.css" rel="stylesheet" id="map.css">
    <script src="scripts/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmuPitVOQ-Xrx3789VhQYg3D1kc42JoDI&callback=initMap"async defer></script>
    
</head>
<body>
    
    <div id="map"></div>
</body>
</html>
