figure {
    display: inline-block;
    margin:3%;
    width: 13%;
}

h3{
    font-size: 20px;
    margin: 5px 0 -8px 0;
}

.exchange{
    margin-right:auto;
    background-color : skyblue;
}

.goods{

    max-width: 100%;
    height: auto !important;
    border: 2px solid black;
}

a{
    text-decoration:none;
    color:black;
}

.small-title{
    font: 16px KoPubWorld돋움체 Light;
    text-align: center;
    border: 3rem solid #79F1F2;
    margin: 0 38% -12px 38%;
    border-radius: 4px;
    background-color: #79F1F2;
    color: #3A506A;
    border-top-width: 11px;
    border-bottom-width: 11px;
  }
  
  .text-box{
    border: 5px solid #83B4F0;
    font: 16px KoPubWorld돋움체 Light;
    margin-top: -12px;
    background-color: ghostwhite;
    margin: 0 18% 0 18%;

    padding: 0 3% 0 3%;
   
  }
  
  #point{
      font: 45px THE삐끗삐끗;
      border-collapse: collapse;
      margin-bottom: -4px;
      padding: 15px 0 15px 20px;
  }

  .point-num{
      border: 0px solid black;
      background-color: skyblue;
      padding: 0 8px 0 8px;
  }
  .lines{
    height: 7px;
    background-color: lightgray;
    color: lightgray;
    border: none;
  }