@font-face {
  font-family: Argon;
  src: url('../fonts/ArgonPERSONAL-Regular.otf');
}

body {
  background-color:#f3f3f3;
  margin-left: 1em;
  margin-right: 1em;
  font: 14px 나눔고딕, Helvetica, Arial, sans-serif;
}

.top-bar{
  margin-top: 1em;
  margin-right: 0px;
  text-align: right;
  color: aqua;
}

.deco-none{
  text-decoration: none !important;
}

.title{
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

h1{
  font: 30px Argon;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.post{
  border: 3px solid black;
}

.dump{
  font: 25px 나눔고딕;
}

.small-title{
  font: 16px KoPubWorld돋움체 Light;
  text-align: center;
  border: 1px solid #79F1F2;
  margin-left: 38%;
  margin-right: 38%;
  border-radius: 4px;
  background-color: #79F1F2;
  color: #3A506A;

}
/*와씨 존나 어렵네 빤스런*/
.text-box{
  border: 5px solid #83B4F0;
  font: 16px KoPubWorld돋움체 Light;
  margin-top: -12px;
  border-collapse: collapse;
  background-color: ghostwhite;
 
}
