@font-face {
  font-family: Argon;
  src: url('../fonts/ArgonPERSONAL-Regular.otf');
}

.description{
  margin-right: 60%; 
  font-size: 20px;
  position: relative;
}

.detail{
  position: relative;
  z-index:1;
  top:64.25%;
  left:50%;
  transform: translate(-50%, -50%); 
  width: 90%;
  border: 2px solid gray;
  color:gray;
  background-color:#9999
}

.mypage-card {
  color: gray;
  position: relative;
  display: block;
  z-index:1;
  width: 80%;
  background-color:#9999;
  border-radius: 2px;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
} /*(아래 모두 포함)로그인 정보를 입력하는 폼 전체 구성*/

.mypage-card div b {
  display: inline-block;
  font-weight: 100;
  font-size: 2.3em;
}

.mypage-card div{
  position: relative;
}

.mypage-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.mypage-card input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.profile-card .profile-picture {
  width: 7.4rem;
}

.profile-card .social-section {
  margin-top: 2rem;
}

.profile-card .social-section a {
  font-size: 1.3rem;
  padding: .2rem .6rem;
}

.show_file{
  height: 12rem;
  margin : 1em 0 0 1em;
  border-radius: 50%;
}