@font-face {
  font-family: Argon;
  src: url('../fonts/ArgonPERSONAL-Regular.otf');
}

.detail{
  position: relative;
  z-index:1;
  top:64.25%;
  left:50%;
  transform: translate(-50%, -50%); 
  width: 90%;
  border: 2px solid gray;
  color:gray;
  background-color:#9999
}

.mypage-card {
  color: gray;
  position: relative;
  display: block;
  z-index:1;
  width: 80%;
  background-color:#9999;
  border-radius: 2px;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
} /*(아래 모두 포함)로그인 정보를 입력하는 폼 전체 구성*/

.article{
  background: #d9d9d9;
  padding: 1.5rem;
  border-radius: 0.5rem;
  width: 70rem;
  display: inline;
}

.profile-card .profile-picture {
  width: 7.4rem;
}

.profile-card .social-section {
  margin-top: 2rem;
}

.profile-card .social-section a {
  font-size: 1.3rem;
  padding: .2rem .6rem;
}

.article{
  margin-top: 3rem;
}