@font-face {
  font-family: Argon;
  src: url('../fonts/ArgonPERSONAL-Regular.otf');
}


.article{
  background: #d9d9d9;
  padding: 1.5rem;
  border-radius: 0.5rem;
  width: 70rem;
  display: inline-block;
}

.profile-card .profile-picture {
  width: 7.4rem;
}

.profile-card .social-section {
  margin-top: 2rem;
}

.profile-card .social-section a {
  font-size: 1.3rem;
  padding: .2rem .6rem;
}

.article{
  margin-top: 3rem;
}