<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Help :: 비밀번호 찾기</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
</head>

<body>
    <form action="./users/search" method="POST">
        <div>
            <h1>비밀번호 찾기</h1><br>
            <form>
                <input type="text" name="user" placeholder="아이디">
                <input type="submit" name="login" value="비밀번호 찾기">
            </form>
        </div>
    </form>
</body>

</html>