<!-- 회원가입 페이지 -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Help :: 회원가입</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel='stylesheet' href='/stylesheets/Signup.css' />
</head>

<body>
    <form action="./users/adduser" method="POST">
        <div>
            <h1>회원가입</h1><br>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="아이디" name="user">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="password" class="form-control" placeholder="비밀번호" name="password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="password" class="form-control" placeholder="비밀번호 확인" name="pass_correct">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="이름(실명)" name="name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="휴대폰 번호(-는 제외)" name="phone">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-2">
                        <button type="submit" name="login" class="btn btn-primary">회원가입</button>
                    </div>
                </div>

                <div>
                    <a href="/">로그인</a> • <a href="./findpw">비밀번호 찾기</a>
                </div>
        </div>
    </form>
</body>
</html>