<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>코딩 월드 :: 비밀번호 찾기</title>
    <link rel="stylesheet" href="/css/login-form.css" media="screen" type="text/css" />
</head>

<body>
    <center>
        <div>
            <a href="/"><img src="/images/logo.png"></a>
        </div>
    </center>

    <form action="/user/search" method="POST">
        <div class="login-card">
            <h1>비밀번호 찾기</h1><br>
            <form>
                <input type="text" name="user" placeholder="아이디">
                <input type="submit" name="login" class="login login-submit" value="비밀번호 찾기">
            </form>
        </div>
    </form>
</body>

</html>